* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url(../assets/images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navigation {
    margin: 0px 5px 5px 5px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: hsl(51, 99%, 46%);

}

a {
    text-decoration: none;
    color: hsl(244, 93%, 26%);
    font-family: Arial, sans-serif;
}

a:hover {
    color: hsl(244, 93%, 50%);
    text-decoration: underline;
}

.contact-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

label {
    font-size: 20px;
    color: hsl(0, 0%, 100%);
    display: block;
    margin: 10px 0px 5px 0px;
}

input,
textarea {
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
}

 .contact-main button {
    color: hsla(11, 95%, 43%, 0.872);
    font-size: 1.5em;
    border-radius: 10px;
    padding: 3px 5px;
    text-align: center;
    background-color: hsl(193, 87%, 49%);
    cursor: pointer;
    margin-top: 5px;

}

/*.contact-main button:hover {
    background-color: hsl(193, 87%, 80%);
} */

h1 {
    font-size: 2.5em;
    text-align: center;
    color: hsl(174, 100%, 50%);
}

.about-container p {
    font-size: 1.5em;
    color: hsl(0, 0%, 100%);
}

footer {
    position: fixed;
    bottom: 0;
    background-color: hsl(51, 99%, 46%);
    text-align: center;
    width: 100%;
    padding: 10px 0px;
    border-radius: 5px;
    font-family: Poetsen one;
    margin-top: 20px;
}

.shop-container {
    display: flex;
    justify-content: center;
    align-items: space-evenly;
    text-align: center;
    flex-wrap: wrap;
    gap: 20px;


}

.shop {
    /* background-color: hsl(128, 11%, 26%);  */
    padding: 5px;
    border-radius: 20px;

}

.shop:hover {
    box-shadow: 0px 0px 10px hsl(126, 76%, 45%);
}

.shop img {
    width: 300px;
    height: 200px;
    border-radius: 20px;

}

main {
    margin-bottom: 100px;
}

.about-images {
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}

h4 {
    font-size: 1.5em;
    color: hsl(0, 0%, 100%);
}

.inventory {
    margin-bottom: 200px;
}


.inventoryList {
    width: 80%;
    border: 2px solid hsl(193, 87%, 49%);
    margin: auto;
    border-radius: 10px;
    background-color: hsla(236, 85%, 16%, 0.466);
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.inventoryList button#add {
    background-color: hsl(166, 80%, 45%);
    border-radius: 30px;
    font-size: 20px;
    padding: 0px 10px;
    margin: 2px 10px 2px 10px;
    cursor: pointer;

}

.inventoryList button#subtract {
    background-color: hsl(0, 92%, 47%);
    border-radius: 30px;
    font-size: 20px;
    padding: 0px 10px;
    margin: 2px 10px 2px 10px;
    cursor: pointer;
}

.inventoryList button#add:hover {
    background-color: hsl(166, 80%, 65%);
    ;
}

.inventoryList button#subtract:hover {
    background-color: hsl(0, 92%, 67%);
}

.inventoryList label {
    font-size: 30px;
}

.inventoryList p {
    border-radius: 10px;
    font-size: 50px;
    margin-left: auto;
    color: hsl(244, 93%, 26%);
    background-color: hsl(0, 0%, 100%);
    padding: 2px;
}

.addItem {
    margin: 30px 3px 30px 3px;
}

.addItem input {
    width: 90vw;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
}

.addItem #add-item-button {
    color: hsla(11, 95%, 43%, 0.872);
    font-size: 1.5em;
    border-radius: 10px;
    padding: 3px 5px;
    text-align: center;
    background-color: hsl(193, 87%, 49%);
    cursor: pointer;
    margin: auto;
    display: flex;
    justify-content: center;
}

#reset {
    background-color: hsl(193, 91%, 34%);
    border-radius: 30px;
    font-size: 20px;
    padding: 0px 10px;
    margin: 2px 10px 2px 10px;
    cursor: pointer;
}

#reset:hover {
    background-color: hsl(193, 91%, 64%);
}
